<div class="nav-container">
            <a id="top"></a>

<%= render "partials/main_nav"%>


        <div class="main-container">
            <section class="page-title page-title-2 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1447575026/IMG_3805_qk04m7.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">About Us</h2>
                            <p class="lead mb0">we are a design and development studio</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                </li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="pb0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h3 class="mb64 mb-xs-24">Hi. We're a Los Angeles-based design & development studio.
                                <br /> we create digital products, tailored websites & modern brands for forward thinking companies & entrepreneurs.</h3>

                            <div class="tabbed-content button-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>History</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Approach</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Culture</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Method</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="">
                <div class="container">
                    <div class="row">
                    <!-- <h3 class="mb40 mb-xs-24 text-center">Meet our dads</h3> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="image-tile outer-title text-center">
                                <img alt="Pic" src="../img/team-1.jpg" />
                                <div class="title mb16">
                                    <h5 class="uppercase mb0">Rich Walter</h5>
                                    <span>Brand Director</span>
                                </div>
                                <p class="mb0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="image-tile outer-title text-center">
                                <img alt="Pic" src="../img/team-2.jpg" />
                                <div class="title mb16">
                                    <h5 class="uppercase mb0">Garrett McKenzie</h5>
                                    <span>Designer/Developer</span>
                                </div>
                                <p class="mb0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="image-tile outer-title text-center">
                                <img alt="Pic" src="../img/team-3.jpg" />
                                <div class="title mb16">
                                    <h5 class="uppercase mb0">Luke Perine</h5>
                                    <span>Creative Director</span>
                                </div>
                                <p class="mb0">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="bg-light pt0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb40 mb-xs-40">Previous Collaborators</h4>
                        </div>
                    </div>
                
                    <!--end of row-->
                    <div class="row pt16">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l1.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l2.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l3.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l4.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l1.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l2.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l3.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="../img/l4.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


           

            <section class="projects p0 bg-dark ">
                <div class="row masonry-loader">
                    <div class="col-sm-12 text-center">
                        <div class="spinner"></div>
                    </div>
                </div>
                <div class="row masonry masonryFlyIn">
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_1440/v1447643123/Portsmouthfrontdoor_pze1u0.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Portsmouth Oyster Bar</h5>
                                    <span>Uptown Whittier CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,q_100,w_1440/v1447575029/Plague_dphb9x.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Plague Vendor</h5>
                                    <span>Los Angeles, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,g_east,h_960,q_100,w_1440/v1447670512/BreakfastDeck_cropped400px_-111_iofste.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Breakfast Lunch & Pinners</h5>
                                    <span>Whittier, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </section>

             
            <section class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h3 class="mb64 uppercase">People &nbsp;
                                <i class="ti-heart"></i>&nbsp; Us</h3>
                            <div class="testimonials text-slider slider-arrow-controls">
                                <ul class="slides">
                                    <li>
                                        <p class="lead">"It's clear to see just how seriously these guys take design. I've never come across a dad with the level of polish as this - and don't even get me started on the page builder, there is simply NO competition. Customer for life."</p>
                                        <div class="quote-author">
                                            <img alt="Avatar" src="../img/avatar1.png" />
                                            <h6 class="uppercase">Anna Thompson</h6>
                                            <span>Mckshreder Customer</span>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="lead">"don't even get me started on the page builder, there is simply NO competition. Customer for life.don't even get me started on the page builder, there is simply NO competition. Customer for life.It's clear to see just how seriously these guys take design. I've never come across a dad with the level of polish as this - and don't even get me started on the page builder, there is simply NO competition. Customer for life."</p>
                                        <div class="quote-author">
                                            <img alt="Avatar" src="../img/avatar2.png" />
                                            <h6 class="uppercase">Rick Dempsey</h6>
                                            <span>Mckshreder Customer</span>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="lead">"It's clear to see just how seriously these guys take design. I've never come across a dad with the level of polish as this - don't even get me started on the page builder, there is simply NO competition. Customer for life.don't even get me started on the page builder, there is simply NO competition. Customer for life.and don't even get me started on the page builder, there is simply NO competition. Customer for life."</p>
                                        <div class="quote-author">
                                            <img alt="Avatar" src="../img/avatar3.png" />
                                            <h6 class="uppercase">Gill Sans</h6>
                                            <span>Mckshreder Customer</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            
           
            
            <section class="bg-dark pt64 pb64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="mb8">Please dad. I love you. I need you</h2>
                            <p class="lead mb40 mb-xs-24">
                                 The choice is clear. Now, lets take the next step.
                            </p>
                            <a class="btn btn-filled btn-lg mb0" href="contact#">Contact Us Now!</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
                




<footer class="footer-2 bg-dark pt0 pb40">
                <div class="container">
                    <div class="row">
                        <hr class="mt0 mb40" />
                    </div><!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#"><img class="image-xxs fade-half" alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_579/v1439563517/yptmklyv0yxrqmqsaav5.png"></a>
                        </div>
                    
                        <div class="col-sm-4 text-center">
                            <span class="fade-half">
                                © Copyright 2015 Mckshreder D & D - All Rights Reserved
                            </span>
                        </div>
                    
                        <div class="col-sm-4 text-right">
                            <ul class="list-inline social-list">
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
                <!-- <a class="btn btn-sm fade-half back-to-top inner-link mb0" href="#top">Top</a> -->
            </footer>

            </div>
            <div class="modal-strip bg-white">          
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <i class="ti-announcement icon icon-sm pull-left color-primary"></i>
                        <p class="mb0 pull-left"><strong>Welcome to Mckshreder</strong> We would love to answer your questions.</p>
                        <a class="btn btn-sm btn-filled mb0 pull-right" href="contact#">Contact Us</a>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </div><!--end modal strip-->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/flickr.js"></script>
        <script src="../js/flexslider.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/masonry.min.js"></script>
        <script src="../js/twitterfetcher.min.js"></script>
        <script src="../js/spectragram.min.js"></script>
        <script src="../js/ytplayer.min.js"></script>
        <script src="../js/countdown.min.js"></script>
        <script src="../js/smooth-scroll.min.js"></script>
        <script src="../js/parallax.js"></script>
        <script src="../js/scripts.js"></script>
