
        <div class="nav-container">
            <a id="top"></a>
            <%= render "partials/main_nav"%>
        </div>
        <div class="main-container">
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Video + Photo</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                </li>
                                <li>
                                    <a href="#">Video + Photo</a>
                                </li>
                                
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="image-bg parallax overlay bg-dark vid-bg">
                <div class="player" data-video-id="NfWLU7sbGT4" data-start-at="54"></div>
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="https://res.cloudinary.com/mckshreder/image/upload/v1447575026/IMG_3805_qk04m7.jpg" />
                </div>
                <div class="masonry-loader">
                    <div class="spinner">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase mb8">breakfast lunch & pinners</h2>
                            <p class="lead mb40"> feature film, photos, and branding design of an independent skateboarding company based in whittier ca</p>
                            <a class="btn btn-lg btn-white mb0" href="blp#">View Case Study</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
             <section class="image-bg parallax overlay bg-dark vid-bg">
                <div class="player" data-video-id="PeQQHiMQ-bE" data-start-at="92"></div>
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="https://res.cloudinary.com/mckshreder/image/upload/v1447575029/Plague_dphb9x.jpg" />
                </div>
                <div class="masonry-loader">
                    <div class="spinner">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase mb8">Plague Vendor</h2>
                            <p class="lead mb40"> music video and photo production for the band.</p>
                            <a class="btn btn-lg btn-white mb0" href="blp#">View Case Study</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="image-bg parallax overlay bg-dark vid-bg">
                <div class="player" data-video-id="9sKfrJc2un4" data-start-at="95"></div>
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="https://res.cloudinary.com/mckshreder/image/upload/v1447575025/IMG_0220_kcbdhf.jpg" />
                </div>
                <div class="masonry-loader">
                    <div class="spinner">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="uppercase mb8">Miscellaneous projects</h2>
                            <p class="lead mb40"> video, film, photo, design</p>
                            <a class="btn btn-lg btn-white mb0" href="blp#">View Case Study</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
           
          
            <footer class="footer-2 bg-dark pt0 pb40">
                <div class="container">
                    <div class="row">
                        <hr class="mt0 mb40" />
                    </div><!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#"><img class="image-xxs fade-half" alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_579/v1439563517/yptmklyv0yxrqmqsaav5.png"></a>
                        </div>
                    
                        <div class="col-sm-4 text-center">
                            <span class="fade-half">
                                © Copyright 2015 Mckshreder D & D - All Rights Reserved
                            </span>
                        </div>
                    
                        <div class="col-sm-4 text-right">
                            <ul class="list-inline social-list">
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
                <!-- <a class="btn btn-sm fade-half back-to-top inner-link mb0" href="#top">Top</a> -->
            </footer>
        </div>

        
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/flickr.js"></script>
        <script src="../js/flexslider.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/masonry.min.js"></script>
        <script src="../js/twitterfetcher.min.js"></script>
        <script src="../js/spectragram.min.js"></script>
        <script src="../js/ytplayer.min.js"></script>
        <script src="../js/countdown.min.js"></script>
        <script src="../js/smooth-scroll.min.js"></script>
        <script src="../js/parallax.js"></script>
        <script src="../js/scripts.js"></script>
