
        <div class="nav-container">
            <a id="top"></a>
            <%= render "partials/main_nav"%>
        </div>
        <div class="main-container">
            <section class="page-title page-title-4 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Del Taco Diaries</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="webdevelopment#">Web Development</a>
                                </li>
                                <li class="active">Del Taco Diaries</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-secondary pt0">
                <div class="container">
                <div class="row">
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Client:</span>
                            <h6 class="uppercase mb0">Josh Dominguez</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Our Role:</span>
                            <h6 class="uppercase mb0">Design, Consultation</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Turnaround:</span>
                            <h6 class="uppercase mb0">Nov 2015</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Category:</span>
                            <h6 class="uppercase mb0">Rebranding/webstore </h6>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <hr class="mb48 mb-xs-32">
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Brief</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Process</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Result</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    
                    <div class="row mb64 mb-xs-32">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            <a class="btn btn-lg btn-filled" href="http://www.deltacodiaries.com/">Click to view deltacodiaries.com</a>
                        </div>
                    </div><!--end of row-->

                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12">
                            <div class="image-slider slider-all-controls controls-inside">
                                <ul class="slides">
                                    <li>
                                        <img alt="Image" src="https://res.cloudinary.com/mckshreder/image/upload/c_crop,w_2725/v1452670898/iMac_Mockup_DELTAC_zyctib.png" />
                                    </li>
                                    <!-- <li>
                                        <img alt="Image" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_1440/v1447642563/inwholesalers_iMac_Mockup_4_pbhwqo.png" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_1440/v1447642563/inwholesalers_iMac_Mockup_4_pbhwqo.png" />
                                    </li> -->
                                </ul>
                            </div>
                            <!--end of image slider-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h6 class="uppercase">Share The Love</h6>
                            <ul class="social-list list-inline">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble icon icon-sm"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-2 bg-dark pt0 pb40">
                <div class="container">
                    <div class="row">
                        <hr class="mt0 mb40" />
                    </div><!--end of row-->
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#"><img class="image-xxs fade-half" alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_579/v1439563517/yptmklyv0yxrqmqsaav5.png"></a>
                        </div>
                    
                        <div class="col-sm-4 text-center">
                            <span class="fade-half">
                                © Copyright 2015 Mckshreder D & D - All Rights Reserved
                            </span>
                        </div>
                    
                        <div class="col-sm-4 text-right">
                            <ul class="list-inline social-list">
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
                <!-- <a class="btn btn-sm fade-half back-to-top inner-link mb0" href="#top">Top</a> -->
            </footer>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/flickr.js"></script>
        <script src="../js/flexslider.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/masonry.min.js"></script>
        <script src="../js/twitterfetcher.min.js"></script>
        <script src="../js/spectragram.min.js"></script>
        <script src="../js/ytplayer.min.js"></script>
        <script src="../js/countdown.min.js"></script>
        <script src="../js/smooth-scroll.min.js"></script>
        <script src="../js/parallax.js"></script>
        <script src="../js/scripts.js"></script>
