<!-- this is for the threee photoas stretching all the way scross the screen -->
<section class="projects p0 bg-dark">
                <div class="row masonry-loader">
                    <div class="col-sm-12 text-center">
                        <div class="spinner"></div>
                    </div>
                </div>
                <div class="row masonry masonryFlyIn">
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_1440/v1447643123/Portsmouthfrontdoor_pze1u0.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Portsmouth Oyster Bar</h5>
                                    <span>Uptown Whittier CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,q_100,w_1440/v1447575029/Plague_dphb9x.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Plague Vendor</h5>
                                    <span>Echo Park, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,g_east,h_960,q_100,w_1440/v1447670512/BreakfastDeck_cropped400px_-111_iofste.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Breakfast Lunch & Pinners</h5>
                                    <span>Whittier, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </section>
             <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <h3>Our Expertise</h3>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-layers icon inline-block mb16 fade-3-4"></i>
                            <h4>Modular Design</h4>
                            <p>
                                With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                            </p>
                        </div>
                        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-gallery icon inline-block mb16 fade-3-4"></i>
                            <h4>Silky Parallax</h4>
                            <p>
                                We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-package icon inline-block mb16 fade-3-4"></i>
                            <h4>Unique Concepts</h4>
                            <p>
                                10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                            </p>
                        </div>
                        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-infinite icon inline-block mb16 fade-3-4"></i>
                            <h4>Infinite Possibility</h4>
                            <p>
                                With over 100 pre-made HTML templates included, it's easier than ever to find a look that suits you. If not, just create your own with Variant Page Builder!
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

           
           
            <section class="pt120 pb120 image-bg">
				<div class="map-canvas" data-map-zoom="6" data-address="lucia,californio[nomarker];san francisco;los angeles" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 overflow-hidden">
							<h3 class="mb64 mb-xs-32">Get In Touch</h3>
							<h4 class="mb16">contact@mckshreder.com</h4>
							<ul class="list-inline social-list mb40 mb-xs-24">
								<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-dribbble"></i></a></li>
								<li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
							</ul>
							<div class="col-sm-6 p0">
								<h6 class="uppercase mb0">San Francisco</h6>
								<p>
									1420 Chilvers Avenue.<br />
									San Francisco<br />
									(03) 4374 4628
								</p>
							</div>
							<div class="col-sm-6 p0">
								<h6 class="uppercase mb0">Los Angeles</h6>
								<p>
									Suite 9A, Clementine Rd.<br />
									Whittier, CA<br />
									(562) 619-3255
								</p>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>