<!-- this is for the threee photoas stretching all the way scross the screen -->
<section class="projects p0 bg-dark">
                <div class="row masonry-loader">
                    <div class="col-sm-12 text-center">
                        <div class="spinner"></div>
                    </div>
                </div>
                <div class="row masonry masonryFlyIn">
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_1440/v1447643123/Portsmouthfrontdoor_pze1u0.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Portsmouth Oyster Bar</h5>
                                    <span>Uptown Whittier CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,q_100,w_1440/v1447575029/Plague_dphb9x.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Plague Vendor</h5>
                                    <span>Echo Park, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <a href="#">
                                <img alt="Pic" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,g_east,h_960,q_100,w_1440/v1447670512/BreakfastDeck_cropped400px_-111_iofste.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Breakfast Lunch & Pinners</h5>
                                    <span>Whittier, CA</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </section>
             <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                            <h3>Our Expertise</h3>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-layers icon inline-block mb16 fade-3-4"></i>
                            <h4>Modular Design</h4>
                            <p>
                                With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                            </p>
                        </div>
                        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-gallery icon inline-block mb16 fade-3-4"></i>
                            <h4>Silky Parallax</h4>
                            <p>
                                We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                            </p>
                        </div>
                        <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-package icon inline-block mb16 fade-3-4"></i>
                            <h4>Unique Concepts</h4>
                            <p>
                                10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                            </p>
                        </div>
                        <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                            <i class="ti-infinite icon inline-block mb16 fade-3-4"></i>
                            <h4>Infinite Possibility</h4>
                            <p>
                                With over 100 pre-made HTML templates included, it's easier than ever to find a look that suits you. If not, just create your own with Variant Page Builder!
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

           
           
            <section class="pt120 pb120 image-bg">
				<div class="map-canvas" data-map-zoom="6" data-address="lucia,californio[nomarker];san francisco;los angeles" data-maps-api-key="AIzaSyCfo_V3gmpPm1WzJEC9p_sRbgvyVbiO83M" data-maps-api-key-2="AIzaSyAVsRr4i3ovR45biSx0DoWRswL1kfdO9ZU"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 overflow-hidden">
							<h3 class="mb64 mb-xs-32">Get In Touch</h3>
							<h4 class="mb16">contact@mckshreder.com</h4>
							<ul class="list-inline social-list mb40 mb-xs-24">
								<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-dribbble"></i></a></li>
								<li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
							</ul>
							<div class="col-sm-6 p0">
								<h6 class="uppercase mb0">San Francisco</h6>
								<p>
									1420 Chilvers Avenue.<br />
									San Francisco<br />
									(03) 4374 4628
								</p>
							</div>
							<div class="col-sm-6 p0">
								<h6 class="uppercase mb0">Los Angeles</h6>
								<p>
									Suite 9A, Clementine Rd.<br />
									Whittier, CA<br />
									(562) 619-3255
								</p>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>


            <section class="pt16 pb64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="mb8">Let's create something beautiful.</h2>
                            <!-- <h3 class="lead mb0">
                                 Ready to start a project or really curious about our process?
                            </h3> -->
                            <h4 class="lead mb0">
                                 We like to come prepared for our first conversation, so for starters,
                            </h4>
                            <h4 class="lead mb40">
                                  please fill out our project inquiry form in as much detail as possible.
                            </h4>
                            <a class="btn btn-filled btn-lg mb0" href="#">Project Inquiry Form</a>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="embelish-icons">
                        <i class="ti-marker"></i>
                        <i class="ti-layout"></i>
                        <i class="ti-ruler-alt-2"></i>
                        <i class="ti-eye"></i>
                        <i class="ti-signal"></i>
                        <i class="ti-pulse"></i>
                        <i class="ti-marker"></i>
                        <i class="ti-layout"></i>
                        <i class="ti-ruler-alt-2"></i>
                        <i class="ti-eye"></i>
                        <i class="ti-signal"></i>
                        <i class="ti-pulse"></i>
                    </div>
                </div>
                <!--end of container-->
            </section>


             <section class="pb0 pt48 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                            <h3>A unique, process driven approach to delivering outstanding results for our partners.</h3>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="pt16 pb16 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24 mb64">
                                <div class="left">
                                    <i class="ti-ruler-pencil icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">CUSTOM WEB DESIGN</h5>
                                    <p>
                                        Intuitive, compelling, conversion-focused design doesn’t just magically happen. Once our strategy is solid, we work hard to design beautiful, highly engaging experiences focused on creating lasting impressions and building brands.
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24 mb64">
                                <div class="left">
                                    <i class="ti-panel icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">RESPONSIVE WEBSITES</h5>
                                    <p>
                                        Yes, our sites are attractive, intuitive, and conversion focused—but they’re also extremely well engineered. We meticulously develop adaptable, responsive websites that are simple to update and customized for each client’s specific needs.
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24 mb64">
                                <div class="left">
                                    <i class="ti-desktop icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">Brand Direction</h5>
                                    <p>
                                        Yes, our sites are attractive, intuitive, and conversion focused—but they’re also extremely well engineered. We meticulously develop adaptable, responsive websites that are simple to update and customized for each client’s specific needs.
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24 mb64">
                                <div class="left">
                                    <i class="ti-search icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">Search & Social</h5>
                                    <p>
                                        We drive relevant, eager traffic to your website through both organic and paid search marketing and a finely tuned social media strategy.
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24">
                                <div class="left">
                                    <i class="ti-camera icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">Content Management</h5>
                                    <p>
                                        Ensure the content matches the quality of the rest of the site by allowing our copywriters and marketers to produce and promote succinct, highly targeted content directly informed by our in-depth research and content strategy.
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="feature feature-3 mb-xs-24">
                                <div class="left">
                                    <i class="ti-dashboard icon-sm"></i>
                                </div>
                                <div class="right">
                                    <h5 class="uppercase mb16">Website Maintenance</h5>
                                    <p>
                                         Creating quality content and optimizing your online presence is time consuming and has a steep learning curve, even for savvy web users. Who has the time to make small website changes when you’re running a business?
                                    </p>
                                </div>
                            </div>
                            <!--end of feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>